{% extends 'base.html' %} {% load static %} {% block content %}
<section id="userChat">
    <div class="userContainer">
        <div class="left">
            <div class="logoFrame">
                <img src="{% static '/images/logo.svg' %}" alt="logo" />
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'user_home' %}">
                            <div class="navIcon">
                                <img
                                    src="{% static '/images/home.svg' %}"
                                    alt="home" />
                            </div>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'user_chat' %}">
                            <div class="navIcon">
                                <img
                                    src="{% static '/images/chat-icon.svg' %}"
                                    alt="chats" />
                            </div>
                            Chats
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'user_profile' %}">
                            <div class="navIcon">
                                <img
                                    src="{% static '/images/profile-icon.svg' %}"
                                    alt="profile" />
                            </div>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="navIcon">
                                <img
                                    src="{% static '/images/settings-icon.svg' %}"
                                    alt="settings" />
                            </div>
                            Settings
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="logout">
                <ul>
                    <li>
                        <a href="#" onclick="confirmLogout()">
                            <div class="navIcon">
                                <img
                                    src="{% static '/images/logout-icon.svg' %}"
                                    alt="logout" />
                            </div>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div class="welcomeProfile">
                    <div class="profileImage">
                        <img
                            src="{% static '/images/user-profile-image.png' %}"
                            alt="profile-image" />
                    </div>
                    <div class="welcomeName">
                        <p class="welcome">Hai, Welcome</p>
                        <p class="name">
                            {{ request.user.profile.first_name }} {{ request.user.profile.last_name }}
                        </p>
                    </div>
                </div>
                <div class="search">
                    <div class="searchIcon">
                        <img
                            src="{% static '/images/search-icon.svg' %}"
                            alt="search" />
                    </div>
                    <input type="text" placeholder="Type profile" />
                </div>
                <div
                    class="notification"
                    onclick="updateAboutSection(); renderFriendRequests();">
                    <div class="notificationIcon">
                        <img
                            src="{% static '/images/notification-icon.svg' %}"
                            alt="notification" />
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="leftside">
                    <h3>Chats</h3>
                    <div class="userList">
                        {% for user in users %} {% csrf_token %}
                        <a class="eachUser" href="#" alt="" id="eachUser">
                            <div class="imageName">
                                <div class="userImage">
                                    <img
                                        src="{% static '/images/user-profile-picture.png' %}"
                                        alt="user-image" />
                                </div>
                                <div
                                    class="nameMessage"
                                    onclick="loadUserChat('{{ user.first_name }}', '{{ user.last_name }}', '{{ user.chat_room_id }}', '{{ user.id }}'); handleMessage('{{ user.id }}')">
                                    <div class="name">
                                        {{ user.first_name }} {{ user.last_name }}
                                    </div>
                                    <!-- Example: Display the latest message for each user -->
                                    <div class="message">
                                        {{ user.latest_message }}
                                    </div>
                                </div>
                            </div>
                            <div class="messageCount">
                                {{ user.message_count }}
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="right">
                    <div class="chatSection">
                        <div class="chatHeading">
                            <span class="familyPhoto">
                                <img
                                    src="{% static '/images/family-photo.png' %}"
                                    alt="" />
                            </span>
                            <span id="selectedUserName"></span>
                        </div>
                        <div class="chatBody" id="chatBody"></div>
                        <div class="chatInput">
                            <div class="createpost">
                                <form id="messageForm" method="post" action="">
                                    {% csrf_token %}
                                    <input
                                        type="hidden"
                                        name="receiver_id"
                                        id="receiver_id"
                                        value="" />
                                    <div class="postUpload">
                                        <div class="inputContainer">
                                            <textarea
                                                id="textMessage"
                                                name="message_text"
                                                placeholder="What do you want to talk about"
                                                rows="5"
                                                cols="30"
                                                style="resize: none;"></textarea>
                                        </div>
                                        <div class="uploadContainer">
                                            <div class="fileUpload">
                                                <div class="videoUpload">
                                                    <img
                                                        src="{% static '/images/video-icon.svg' %}"
                                                        alt="video-upload" />
                                                    <!-- <input id="videoInput" type="file" accept="video/*" required hidden name="video_file" /> -->
                                                </div>
                                                <div class="imageUpload">
                                                    <img
                                                        src="{% static '/images/image-icon.svg' %}"
                                                        alt="image-upload" />
                                                    <!-- <input id="imageInput" type="file" accept="image/*" required hidden name="image_file" /> -->
                                                </div>
                                            </div>
                                            <button
                                                class="backgroundButton"
                                                type="submit">
                                                Send
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <h3>Logout</h3>
        <p>Are you sure you want to logout?</p>
        <div class="modal-buttons buttonContainer">
            <button onclick="cancelLogout()">Cancel</button>
            <button onclick="logout()">Logout</button>
        </div>
    </div>
</div>

<script>
    function confirmLogout() {
        var modal = document.getElementById('logoutModal');
        modal.style.display = 'block';
    }

    function cancelLogout() {
        var modal = document.getElementById('logoutModal');
        modal.style.display = 'none';
    }

    function logout() {
        // Redirect the user to the logout URL or perform any logout action here
        window.location.href = '/login';
    }

    window.onclick = function(event) {
        var modal = document.getElementById('logoutModal');
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    }
</script>
<script>
    function handleMessage(chatRoomId) {
    // Implement your logic for handling the chat room ID here
        console.log('Chat room ID: **************************', chatRoomId);
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrfToken = getCookie('csrftoken');
        axios.defaults.headers.common['X-CSRFToken'] = csrfToken;
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
        const url = `http://127.0.0.1:8002/feeds/user-chat/${chatRoomId}/`;
        const data = {
            receiver_id: chatRoomId,
        };
        axios.post(url, data)
        .then(response => {
            console.log('Success:', response);
            const room_id=response.data.chat_room_id
            console.log("^^^room_id^^^^^^",room_id);
            const route = 'ws://' + window.location.host + '/ws/chat/' + room_id + '/';

            const chatSocket = new WebSocket(route);

            chatSocket.onopen = function(e) {
                console.log('Chat socket successfully connected.');
            };

            chatSocket.onclose = function(e) {
                console.log('Chat socket closed unexpectedly');
            };
            chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data); // Log the received data to verify its structure

            // Assuming the received data is an object with 'message' and 'from_user' fields
            const message = data.message;
            const fromUser = data.from_user;

            // Create a message element
            const messageElement = document.createElement('div');
            messageElement.classList.add('message'); // Add a class for styling

            // Assuming 'from_user' contains the user ID of the sender
            // You can customize this part to display the sender's name, timestamp, etc.
            messageElement.textContent = message;

            const chatBody = document.getElementById('chatBody');
            chatBody.appendChild(messageElement);
        };
            document.querySelector('#messageForm').onsubmit = function(e) {
                e.preventDefault();

                const messageInputDom = document.querySelector('#textMessage');
                const message = messageInputDom.value;
                const receiverId = document.querySelector('#receiver_id').value;

                // Send the message to the backend
                axios.post(`http://127.0.0.1:8002/feeds/user-chat/${chatRoomId}/`, {
                    message_text: message,
                    receiver_id: receiverId
                })
                .then(response => {
                    console.log('Message saved successfully:', response.data);
                    // Optionally, you can handle success actions here
                })
                .catch(error => {
                    console.error('Error saving message:', error);
                    // Optionally, you can handle error actions here
                });

                // Clear the message input field
                messageInputDom.value = '';
            };

        })
        .catch(error => {
            console.error('Error:', error);
        });

    }

    function clearChat() {
        const chatBody = document.querySelector('.chatBody');
        chatBody.innerHTML = '';
    }

    function loadUserChat(first_name, last_name, chat_room_id, userId) {
        document.getElementById('selectedUserName').textContent = first_name + ' ' + last_name;
        clearChat();


        document.querySelector('#eachUser').onclick = function(e) {
            e.preventDefault();
        }

    }
</script>

{% endblock %}
